@charset "UTF-8";
:root {
  /* color */
  --gsw:#26282a;
  --primary: var(--gsw);
  --secondary: #FCFCFC;
  --light:#FCFCFC;
  --dark:#181719;
  --l-grey:#F2EFE9;
  --grey: #798086;
  --bg: #FCFCFC;
  /* icon */
  --icon-font: "Material Symbols Outlined";
  --icon-font-size:20px;
  /* font-family */
  --font-family-primary:"Satoshi-Variable";
  --font-family-secondary:"Satoshi-Variable";
  --font-family-logo: "Satoshi-Variable";
  /* utils */
  --min-height:100vh;
  --header-height: 90px;
  --cb: cubic-bezier(.17, .84, .44, 1);
  --ease-o3: cubic-bezier(0.33, 1, 0.68, 1);
  --border-radius-lg: 0px;
  --border-radius-md: 0px;
  /* --hover : none | hover*/
  --hover: none;
  /*
    media query
   */
  --m-tablet-portrait:640px;
  --m-tablet: 768px;
  --m-laptop: 1024px;
  --m-desktop:1280px;
}

.z\:-1 {
  z-index: -1;
}

.z\:0 {
  z-index: 0;
}

.z\:1 {
  z-index: 1;
}

.z\:2 {
  z-index: 2;
}

/*


#Spacing
  - 4px : 0.25rem
  - 8px : 0.5rem
  - 12px : 0.75rem
  - 16px : 1rem
  - 24px : .5rem
  - 32px : 2rem
  - 48px : 3 rem
  - 64px : 4rem
  - 96px : 6rem
  - 128px : 8rem
  - 192px : 12rem
  - 256px : 16rem
 */
.f-color_primary, .w-products_row_title h3, .w-section_title h3, .w-list_row_title h3 {
  color: var(--primary);
}

.f-color_secondary {
  color: var(--secondary);
}

.f-color_dark {
  color: var(--dark);
}

.f-color_light {
  color: var(--light);
}

.f-color_grey {
  color: var(--grey);
}

.f-family_primary, h1, h2, h3 {
  font-family: var(--font-family-primary);
  transition: color 0.7s ease;
  letter-spacing: 0.05em;
}

.f-family_secondary {
  font-family: var(--font-family-secondary);
  transition: color 0.7s ease;
}

.f-family_secondary-italic {
  font-family: var(--font-family-secondary-italic);
  transition: color 0.7s ease;
}

.f-family_logo {
  font-family: var(--font-family-logo);
  transition: color 0.7s ease;
}

.f-12px {
  font-size: 0.75rem;
  line-height: 1rem;
}

.f-14px {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.f-16px {
  font-size: 1rem;
  line-height: 1.5rem;
}

.f-18px {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.f-20px {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.f-24px {
  font-size: 1.5rem;
  line-height: 2rem;
}

.f-30px {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.f-36px {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.f-48px, .w-about .w-text h3, .w-hero .w-text h3, .w-products_row_title h3, .w-section_title h3, .w-list_row_title h3 {
  font-size: 3rem;
  line-height: 1;
}

.f-60px {
  font-size: 3.75rem;
  line-height: 1;
}

.f-72px {
  font-size: 4.5rem;
  line-height: 1;
}

.f-96px {
  font-size: 6rem;
  line-height: 1;
}

.f-128px {
  font-size: 8rem;
  line-height: 1;
}

@media (min-width: 640px) {
  .m-tp\:f-12px {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .m-tp\:f-14px {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .m-tp\:f-16px {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .m-tp\:f-18px {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .m-tp\:f-20px {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .m-tp\:f-24px {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .m-tp\:f-30px {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .m-tp\:f-36px {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .m-tp\:f-48px {
    font-size: 3rem;
    line-height: 1;
  }

  .m-tp\:f-60px {
    font-size: 3.75rem;
    line-height: 1;
  }

  .m-tp\:f-72px {
    font-size: 4.5rem;
    line-height: 1;
  }

  .m-tp\:f-96px {
    font-size: 6rem;
    line-height: 1;
  }

  .m-tp\:f-128px {
    font-size: 8rem;
    line-height: 1;
  }
}
@media (min-width: 768px) {
  .m-t\:f-12px {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .m-t\:f-14px {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .m-t\:f-16px {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .m-t\:f-18px {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .m-t\:f-20px {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .m-t\:f-24px {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .m-t\:f-30px {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .m-t\:f-36px {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .m-t\:f-48px {
    font-size: 3rem;
    line-height: 1;
  }

  .m-t\:f-60px {
    font-size: 3.75rem;
    line-height: 1;
  }

  .m-t\:f-72px {
    font-size: 4.5rem;
    line-height: 1;
  }

  .m-t\:f-96px {
    font-size: 6rem;
    line-height: 1;
  }

  .m-t\:f-128px {
    font-size: 8rem;
    line-height: 1;
  }
}
@media (min-width: 1024px) {
  .m-l\:f-12px {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .m-l\:f-14px {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .m-l\:f-16px {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .m-l\:f-18px {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .m-l\:f-20px {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .m-l\:f-24px {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .m-l\:f-30px {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .m-l\:f-36px {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .m-l\:f-48px {
    font-size: 3rem;
    line-height: 1;
  }

  .m-l\:f-60px {
    font-size: 3.75rem;
    line-height: 1;
  }

  .m-l\:f-72px {
    font-size: 4.5rem;
    line-height: 1;
  }

  .m-l\:f-96px {
    font-size: 6rem;
    line-height: 1;
  }

  .m-l\:f-128px {
    font-size: 8rem;
    line-height: 1;
  }
}
@media (min-width: 1280px) {
  .m-d\:f-12px {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .m-d\:f-14px {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .m-d\:f-16px {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .m-d\:f-18px {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .m-d\:f-20px {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .m-d\:f-24px {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .m-d\:f-30px {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .m-d\:f-36px {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .m-d\:f-48px {
    font-size: 3rem;
    line-height: 1;
  }

  .m-d\:f-60px {
    font-size: 3.75rem;
    line-height: 1;
  }

  .m-d\:f-72px {
    font-size: 4.5rem;
    line-height: 1;
  }

  .m-d\:f-96px {
    font-size: 6rem;
    line-height: 1;
  }

  .m-d\:f-128px {
    font-size: 8rem;
    line-height: 1;
  }
}
.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.f-700 {
  font-weight: 700;
}

.f-center {
  text-align: center;
}

.f-hidden {
  overflow: hidden;
  line-height: 1.25;
}

.f-upper {
  text-transform: uppercase;
}

.f-lower {
  text-transform: lowercase;
}

.f-capitalize {
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: none;
}
*::selection {
  background: var(--primary);
  color: var(--light);
}

*:focus-visible {
  outline: auto;
}

::after, ::before {
  box-sizing: border-box;
}

img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
}

ul, ol {
  list-style: none;
}

svg {
  pointer-events: none;
}

span, a, strong {
  display: inline-block;
}

a, button, span {
  color: inherit;
  text-transform: inherit;
}

a {
  white-space: nowrap;
  text-decoration: none;
}

button {
  cursor: pointer;
  display: flex;
}

canvas {
  pointer-events: none;
}

body, html {
  scrollbar-width: thin;
  scrollbar-color: var(--gsw) var(--bg);
  min-height: 100%;
  height: auto;
}

html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: initial;
}
html.s {
  overflow: hidden;
}

body {
  background: var(--bg);
  position: relative;
  font-family: var(--font-family-secondary);
}

#app {
  width: 100%;
  height: 100%;
}

.page {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  background: var(--bg);
}

@media screen and (min-width: 1024px) {
  .ua-mobile {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .ua-desktop {
    display: none;
  }
}
.w-select, .cta-variation_option {
  user-select: none;
}

.cta-variation_option {
  cursor: pointer;
}

.c-img {
  overflow: hidden;
}
.c-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-product {
  position: relative;
  background: var(--bg);
  transition: all 0.75s var(--ease-o3);
  border: 2px solid var(--gsw);
}
.card-product a {
  display: flex;
  flex-direction: column;
  white-space: normal;
  height: 100%;
}
.card-product .c-img {
  border-bottom: 2px solid var(--gsw);
}
.card-product .w-product_name {
  padding: 12px 0 4px;
  line-height: 1;
}
.card-product .w-product_price {
  opacity: 0.9;
  margin: 0px;
  line-height: 1;
}

.w-btn {
  justify-content: center;
  padding: 0 0 12px;
  margin: 16px 0 0;
}

.add_to_cart {
  border: 2px solid var(--primary);
  display: flex;
  justify-content: center;
  padding: 4px 8px;
  flex-basis: calc(100% - 24px);
}
.add_to_cart::after {
  color: var(--primary);
}

._s--o {
  opacity: 0;
}

._s--text {
  transform: translateY(100%);
}

#overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 820;
  background: var(--dark);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}
#overlay.is-active {
  pointer-events: auto;
  opacity: 0.5;
}

.c-icon::after {
  font-family: var(--icon-font);
  display: inline-block;
  font-size: 1.3rem;
  color: currentColor;
  line-height: 1;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 60;
}
.c-icon.previous::after {
  content: "\e408";
}
.c-icon.next::after {
  content: "\e409";
}
.c-icon.expand::after {
  content: "\e5cf";
  padding: 0 0 0 10px;
  pointer-events: none;
}
.c-icon.cart::after {
  content: "\f1cc";
}
.c-icon.close::after {
  content: "\e5cd";
}
.c-icon.search::after {
  content: "\e8b6";
}
.c-icon.phone::after {
  content: "\e0b0";
}
.c-icon.address::after {
  content: "\e55b";
}
.c-icon.star::after {
  content: "\ef76";
}
.c-icon.id::after {
  content: "\ea67";
}
.c-icon.cb::after {
  content: "\e870";
}
.c-icon.store::after {
  content: "\e8d1";
}
.c-icon.--hero::after {
  font-size: 40px;
}

.c-icon--svg {
  width: 20px;
}
.c-icon--svg svg {
  fill: var(--grey);
}

blockquote cite::before {
  content: "— ";
}

.c-svg {
  fill: var(--primary);
}
.c-svg.footer {
  fill: var(--light);
}

main {
  background: var(--bg);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 739;
}

#nav {
  display: flex;
  padding: 16px 0;
  background: var(--primary);
  color: var(--light);
  position: relative;
}
#nav .c-logo {
  border-right: 1px solid var(--l-grey);
}
#nav > .c-logo, #nav > *:first-child, #nav > *:last-child {
  padding: 0 32px;
}

.w-nav_header {
  display: flex;
  padding: 0 0 0 32px;
}

.ul-nav_header {
  display: flex;
  align-items: center;
  gap: 32px;
}
.ul-nav_header li {
  letter-spacing: 1px;
}
.ul-nav_header li a {
  color: var(--light);
}
.ul-nav_header li:not(.is-active) {
  opacity: 0.9;
}

.ul-cta_header {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 32px;
}
.ul-cta_header li {
  line-height: 1;
}

#home #footer {
  margin: 0;
}

#footer {
  position: relative;
  background: var(--primary);
  margin: 96px 0 0;
  letter-spacing: 1px;
}
#footer .l-tb {
  padding: 64px 0 32px;
}
#footer .l-rl {
  padding: 0 48px;
}

.w-nav_footer, .w-contact_footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.w-contact_footer {
  flex: 1;
  padding: 0 0 0 75px;
}
.w-contact_footer li {
  gap: 8px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.ul-nav_footer, .ul-contact_footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}
.ul-nav_footer li, .ul-contact_footer li {
  opacity: 0.6;
  line-height: 1.7;
}
.ul-nav_footer li:hover, .ul-contact_footer li:hover {
  opacity: 1;
}

.w-attribution {
  margin: 48px 0 0;
  line-height: 1.7;
  padding: 16px 0 0;
}
.w-attribution span, .w-attribution li {
  opacity: 0.6;
}
.w-attribution span:hover, .w-attribution li:hover {
  opacity: 1;
}

.ul-footer {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 1100px) {
  #footer .l-rl {
    padding: 0 32px;
  }
}
@media screen and (max-width: 960px) {
  #footer .l-rl {
    padding: 0 24px;
  }
}
@media screen and (max-width: 865px) {
  .w-footer, .w-attribution {
    flex-direction: column;
  }

  .w-attribution {
    align-items: start !important;
  }
  .w-attribution p {
    padding: 48px 0 0;
  }

  .w-contact_footer {
    padding: 48px 0 0;
  }

  .c-logo.footer {
    display: none;
  }
}
@media screen and (max-width: 735px) {
  #footer .l-rl {
    padding: 0 12px;
  }

  .ul-footer {
    flex-direction: column;
  }

  .ul-footer > li:nth-child(2n) {
    display: none;
  }
}
.w-flex {
  display: flex;
}

.w-flex--sb {
  display: flex;
  justify-content: space-between;
}

.w-products_row_title, .w-section_title, .w-list_row_title {
  margin: 0 0 16px;
}
.w-products_row_title h3, .w-section_title h3, .w-list_row_title h3 {
  text-transform: capitalize;
}

.w-products_row, .w-products_list {
  display: grid;
  gap: 24px;
  grid-template: 1fr/1fr 1fr 1fr;
}

.w-products_list {
  grid-template: auto/1fr 1fr 1fr;
}

h1 {
  margin: 0 0 16px;
}

.w-text {
  display: flex;
  flex-direction: column;
}
.w-text p {
  margin: 8px 0;
}
.w-text.--testimony {
  flex-basis: 33.33%;
  align-items: center;
  padding: 16px;
  gap: 20px;
}
.w-text.--testimony p {
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.page {
  padding: var(--header-height) 0 0;
}

section .l-rl {
  padding: 0 32px;
}
section .l-tb {
  padding: 32px 0 64px;
}

.w-testimonials {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 0;
}
@media screen and (max-width: 640px) {
  .w-testimonials {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
  .w-testimonials > * {
    width: 90%;
  }
}

.w-about > div, .w-hero > div {
  flex-basis: 50%;
}
.w-about .w-text, .w-hero .w-text {
  padding: 0 24px;
  align-self: center;
}
.w-about .w-text h3, .w-hero .w-text h3 {
  margin: 0 0 16px;
}

.w-about .c-img {
  border: 2px solid var(--primary);
  margin: 0 24px;
  max-height: 50vh;
}

/*# sourceMappingURL=style.css.map */
