.w-testimonials {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 0;
  @media screen and (max-width: 640px) {
    padding: 0;
    @include mobile-flex(90%);

  }
}

.w-about, .w-hero {
  & > div {
    flex-basis: 50%;
  }

  .w-text {
    padding: 0 24px;
    align-self: center;

    h3 {
      @extend .f-48px;
      margin: 0 0 16px;
    }
  }
}
.w-about {
  .c-img {
    border: 2px solid var(--primary);
    margin: 0 24px;
    max-height: 50vh
  }
}
.w-hero {

}