.w-flex {
  display: flex;
}

.w-flex--sb {
  display: flex;
  justify-content: space-between;
}
.w-products_row_title, .w-section_title,.w-list_row_title {
  h3 {
    @extend .f-48px;
    @extend .f-color_primary;
    text-transform:capitalize;
  }

  margin: 0 0 16px;

}
.w-products_row,.w-products_list {
  display: grid;
  gap: 24px;
  grid-template: 1fr/ 1fr 1fr 1fr ;

}
.w-products_list {
  grid-template: auto / 1fr 1fr 1fr ;

}